@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white-5p: #FFFFFF0D;
    --white-8p: #FFFFFF14;
    --white-15p: #FFFFFF26;
    --white-25p: #FFFFFF40;
    --white-50p: #FFFFFF80;
    --white-75p: #FFFFFFBF;
    --white: #FFFFFF;

    --revell: #EEEEEE;

    --black-16p: #00000029;
    --black-20p: #00000033;
    --black-50p: #00000080;
    --black-60p: #00000099;
    --black: #000000;

    --black-matt: #070707;
    --quantum: #111111;

    --leafgreen-25p: #01F26D40;
    --leafgreen-50p: #01F26D80;
    --leafgreen-75p: #01F26DBF;
    --leafgreen: #01F26D;

    --lawngreen: #018C3F;

    --salamander-25p: #F23B0140;
    --salamander: #F23B01;

    --hematite-soil: #CD3100;

    --pumpkin-75p: #FF8E26BF;
    --pumpkin: #FF8E26;

    --purple-shock-75p: #9747FFBF;
    --purple-shock: #9747FF;

    --glacier-white-75p: #ECF0F9BF;
    --glacier-white: #ECF0F9;
}

body {
    color: var(--revell);
    background: var(--black-matt);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
